{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jquery": true
  },
  "globals": {

  },
  "rules": {
    "quotes": [1, "single", "avoid-escape"],
    "new-cap": false,
    "camelcase": false,
    "no-process-exit": false,
    "no-underscore-dangle": false,
    "strict": false
  }
}
